@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcom to my Shop </h1>
    <div class="row">
        @foreach (var item in Model)
        {
            <partial name="_BoxProduct" model="@item" />
        }
    </div>